.navigation {
 
    &__checkbox {
       display: none; // hide the checkbox
    }

    &__button { // cover the background
        background-color: $color-white;
        // background-color: teal;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 1010;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);

        // transform: scale(80);
    }

    &__nav {
        height: 100vh;
        // width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1005;

        opacity: 0; // hide the links
        width: 0; // hide the links
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        @include center-xy; // use the centering mixin
        list-style: none; // remove the bullets
        text-align: center;
        width: 100%;
    }
    
    &__item {
        margin: 1rem; // add space between the links
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all 0.4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // check box trick, when the checkbox is checked.. select the background
    &__checkbox:checked ~ &__background {
        transform: scale(80);

    }
    // check box trick, when the checkbox is checked.. select the nav
    &__checkbox:checked ~ &__nav {
        opacity: 1; // show the nav links
        width: 100%; // show the nav links

    }

    // icon
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
            
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem;}
        &::after { top: .8rem;}
    }

    &__button:hover &__icon::before {
       top: -1rem; 
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }



}